@charset 'UTF-8' ;
@import './ui/layout';

body {
	font-family: Helvetica , dotum;
}

.wrap{
	padding:100px 20px;
}

.test_wrap{
	padding:100px 0;
}

.custom_select_wrapper{
	position: relative;
	width:200px;

	$height-select : 40px;
	$radius : 5px;

	&.dirUp{
		div{
			bottom:$height-select;
			border-top: 1px solid #888;
			border-bottom:0;
			border-radius:$radius $radius 0 0;
			button:last-child{
				border-bottom: 0;
			}
		}
		&.active{
			.btn_select_box{
				border-radius:0 0 $radius $radius;
			}
		}
	}
	.btn_select_box{
		position: relative;
		display: block;
		width:100%;
		height:$height-select;
		padding:0 15px;
		text-align: left;
		border:1px solid #888;
		border-radius:$radius;
		background-color: #fff;
		&:after{
			display:block;
			position:absolute;
			top:50%;
			right:10px;
			width:8px;
			height:8px;
			margin-top: -6px;
			border-top:2px solid #333;
			border-right:2px solid #333;
			-webkit-transform:rotate(135deg);
			transform:rotate(135deg);
			content:""
		}
	}
	div{
		display: none;
		position: absolute;
		width: 100%;
		border: 1px solid #888;
		border-top: 0;
		border-bottom: 0;
		background-color: #eee;
		border-radius:0 0 $radius $radius;
		z-index: 100;
		button{
			display: block;
			width:100%;
			height:$height-select;
			line-height: $height-select;
			padding: 0 15px;
			border-bottom: 1px solid #888;
			text-align: left;
			&:hover{
				background-color: #888;
				color:#fff;
			}
			&.active {
				background-color:#666;
				color:#fff;
			}
		}
	}
	&.active{
		div{
			display: block;
		}
		.btn_select_box{
			border-radius:$radius $radius 0 0 ;
			&:after{
				-webkit-transform:rotate(-45deg);
				transform:rotate(-45deg);
				margin-top:-2px;
			}
		}
	}
}

.test_wrap{
	button{
		display: inline-block;
		border:1px solid #333;
		padding:5px 10px;
	}
}