@charset 'UTF-8' ;
@import './ui/layout';

body {
	font-family: Helvetica , dotum;
}

.wrap{
	padding:100px 20px;
}


.custom_select_wrapper{
	$select-width : 200px;
	$select-height : 40px;
	$radius : 6px;
	$border-color: #888;

	position: relative;
	width:$select-width;

	.btn_select{
		position: relative;
		display: block;
		width:100%;
		height:$select-height;
		padding:0 15px;
		text-align: left;
		border:1px solid #888;
		border-radius:$radius;
		background-color: #fff;
		&:after{
			display:block;
			position:absolute;
			top:50%;
			right:10px;
			width:8px;
			height:8px;
			margin-top: -6px;
			border-top:2px solid #333;
			border-right:2px solid #333;
			-webkit-transform:rotate(135deg);
			transform:rotate(135deg);
			content:""
		}
	}
	.bx_option{
		visibility: hidden;
		opacity: 0;
		position: absolute;
		width: 100%;
		border: 1px solid $border-color;
		border-top: 0;
		border-bottom: 0;
		background-color: #eee;
		border-radius:0 0 $radius $radius;
		z-index: 100;
		.item{
			display: block;
			width:100%;
			height:$select-height;
			line-height: $select-height;
			padding: 0 15px;
			border-bottom: 1px solid $border-color;
			text-align: left;
			cursor:pointer;
			&:hover{
				background-color: $border-color;
				color:#fff;
			}
			&.active {
				background-color:#666;
				color:#fff;
			}
		}
	}
	&.dirUp{
		.bx_option{
			bottom:$select-height;
			border-top: 1px solid $border-color;
			border-bottom:0;
			border-radius:$radius $radius 0 0;
			button:last-child{
				border-bottom: 0;
			}
		}
		&.active{
			.btn_select{
				border-radius:0 0 $radius $radius;
			}
		}
	}
	&.active{
		.bx_option{
			visibility: visible;
			opacity: 1;
		}
		.btn_select{
			border-radius:$radius $radius 0 0 ;
			&:after{
				-webkit-transform:rotate(-45deg);
				transform:rotate(-45deg);
				margin-top:-2px;
			}
		}
	}
}

.test_wrap{
	button{
		display: inline-block;
		border:1px solid #333;
		padding:5px 10px;
	}
}

.custom_select{
	position: absolute;
	left:-9999em;
	visibility: hidden;
	opacity: 0;
}
