<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>



	<div class="wrap" style="height:2000px;">

		<span class="wrap_select_box">
			<select name="" class="custom_select select_rel_site">
				<option value="https://www.google.com/">Google</option>
				<option selected value="https://www.naver.com/">Naver</option>
				<option value="https://www.daum.net/">Daum</option>
				<option value="https://www.nate.com/">Nate</option>
				<option value="http://www.ticketmonster.co.kr">Ticketmonster</option>
				<option value="http://wemakeprice.com">wemakeprice</option>
			</select>
		</span><!-- end of wrap_select_box -->

		<span class="wrap_select_box">
			<select name="" id="" class="custom_select select_board_search">
					<option value="title">제목</option>
					<option value="number">번호</option>
					<option value="writer">작성자</option>
					<option value="date">날짜</option>
					<option value="title">제목</option>
				</select>
		</span><!-- end of wrap_select_box -->



		<div class="wrapSlt"></div>

		<!-- <span class="wrap_select_box">
			<select name="" id="" class="custom_select select_board_search2">
					<option value="title">제목</option>
					<option value="number">번호</option>
					<option value="writer">작성자</option>
					<option value="date" selected>날짜</option>
					<option value="title">제목</option>
					<option value="number">번호</option>
					<option value="writer">작성자</option>
					<option value="date">날짜</option>
				</select>
		</span>end of wrap_select_box

		<span class="wrap_select_box">
			<select name="" id="" class="custom_select select_board_search2">
					<option value="title">제목</option>
					<option value="number">번호</option>
					<option value="writer">작성자</option>
					<option value="date">날짜</option>
					<option value="title">제목</option>
					<option value="number">번호</option>
					<option value="writer">작성자</option>
					<option value="date">날짜</option>
				</select>
		</span>end of wrap_select_box -->

		<div class="controller">
			<button type="button" class="btn_set_select">set select idx</button>
			<button type="button" class="btn_get_value">get select value</button>
			<button type="button" class="btn_get_idx">get select idx</button>
			<button type="button" class="btn_get_title">get select title</button>
		</div><!-- end of controller -->

	</div>
	<!-- end of wrap -->




</body>
</html>