<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div class="wrap_slt">
		<select name="" id="" class="custom_select">
			<option value="https://www.google.com/">Google</option>
			<option value="https://www.naver.com/">Naver</option>
			<option selected value="https://www.daum.net/">Daum</option>
			<option value="https://www.nate.com/">Nate</option>
		</select>
	</div>


	<div class="wrap_slt select02">
		<select name="" id="" class="custom_select">
			<option selected value="title">제목</option>
			<option value="writer">작성자</option>
			<option value="date">날짜</option>
		</select>
	</div>

</body>
</html>